<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Utilisateur"
            connectionString="Data Source=DESKTOP-29AUQ3J;Initial Catalog=Gestion_Infirmerie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>